<div class="pageContent">
    
    <form method="post" action="{:U('User/savePwd')}" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent nowrap" layoutH="97">
            <dl>
                <dt>原密码：</dt>
                <dd>
                    <input type="password" name="old_pwd"  class="required" value="" />
                </dd>
            </dl>
            
            <dl>
                <dt>新密码：</dt>
                <dd>
                    <input type="password" name="new_pwd"  class="required" value="" />
                </dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
    
</div>