.grid {
  border-width: 0 1px;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.grid .gridHeader {
  display: block;
  overflow: hidden;
  width: auto;
}
.grid .gridHeader th {
  border-style: solid;
  border-width: 0 1px 1px 0;
  cursor: default;
  line-height: 35px;
  padding: 0 3px;
  vertical-align: top;
  white-space: nowrap;
}
.grid .gridHeader th.hover {
  background-position: 0 -50px;
}
.grid .gridHeader th.thSelected {
  background-position: 0 -50px;
}
.grid .gridScroller {
  display: block;
  overflow: auto;
  position: relative;
}
.grid .gridTbody td {
  border-bottom: solid 1px #ededed;
  border-right: solid 1px #ededed;
  line-height: 35px;
  overflow: hidden;
  padding: 0 3px;
  vertical-align: middle;
}
.grid .gridTbody td div {
  display: block;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  white-space: nowrap;
}
.grid .gridTbody td div a {
  line-height: 35px;
}
.grid .gridTbody .selected td {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.grid table {
  border-collapse: collapse;
  border: 0;
  table-layout: fixed;
}
.grid .gridRow {
  border-style: solid;
  border-width: 0 0 1px 0;
  cursor: default;
}
.grid .gridRow td.tdLast {
  border-right: solid 1px;
  padding: 0 4px 0 5px;
}
.grid .gridCol {
  display: block;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.grid .resizeMarker {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.grid .resizeProxy {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.grid .left {
  text-align: left;
}
.grid .right {
  text-align: right;
}
.grid .center {
  text-align: center;
}

.grid .gridTbody td div a {
  line-height: 21px;
}
.grid .gridHeader th.hover, 
.grid .gridHeader th.thSelected { background-position:0 -87px;}

.grid .gridHeader th,
.grid .gridTbody td{
  text-indent: 2em;
}
.grid .gridTbody td .btn{
  text-indent: 0;
}