<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>河曲县精准脱贫挂图作战信息平台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qh/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qh/css/style.css">
    <script src="__PUBLIC__/qh/jquery/jquery-1.8.3.min.js"></script><script src="__PUBLIC__/qh/js/hq.js"></script>
    <script src="__PUBLIC__/qh/jquery/jquery.validate.min.js"></script>
    <!--[if lt IE 9]>
      <script src="./js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <include file="Common:left_nav" />
      <div id="mainContent" class="content">
        <!-- title list and search-->
          <include file='index_nav' />
          <div class="breadcrumbs">
             <a href="./enterprise_list4.html">村第一书记</a> &gt; <a href="#">新增/修改</a>
          </div>
          <div class="add-form-box">
            <form class="clearfix" id="secretary_form">
                <input type="hidden" name="pid" value="<if condition='isset($shuji)'>{$shuji.pid}</if>">
               <div class="form-input clearfix">
                 <label>选择乡</label>
                 <select class="select w200" name="xiangid" id="xiangid" onchange="select_xiang()">
                    <option value="0">请选择乡镇</option>
                    <foreach name='xiang' item='v'>
                      <option value="{$v.pid}" <if condition = '$shuji.xiangid eq $v["pid"]'>selected</if>>{$shuji.xiangid}{$v.mingcheng}</option>
                    </foreach>
                 </select>
               </div>
               <div class="form-input clearfix">
                 <label>选择村</label>
                 <select class="select w200" name="cunid" id="cunid">
                   <option value="1" <if condition = '!isset($shuji)'>selected</if>>请选择村名称</option>
                 </select>
                </div>
               <div class="form-input clearfix">
                 <label>书记姓名</label><input type="text" name="xingming" value="<if condition = 'isset($shuji)'>{$shuji.xingming}</if>">
               </div>
               <div class="form-input clearfix">
                 <label>联系电话</label><input type="text" name="dianhua" value="<if condition = 'isset($shuji)'>{$shuji.dianhua}</if>">
               </div>
               <p><input type="submit" class="save" value="提交"></p>
            </form>
          </div>
      </div>
      </div>
      <script type="text/javascript">
        var _url = "{:U('manager/index/saveFirstSecretary',[],'')}";
        var _xiang_url = "{:U('manager/area/getArea')}";
        $().ready(function() {
            // 手机号码验证
        jQuery.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");
          $("#secretary_form").validate({
              onsubmit:true,// 是否在提交是验证 
              onfocusout:false,// 是否在获取焦点时验证 
              onkeyup :false,// 是否在敲击键盘时验证
              rules: {
                xiangid: {
                  required: true,
                },
                cunid: {
                  required: true,
                },
                xingming:{
                  required:true,
                },
                dianhua:{
                  required:true,
                  isMobile:true,
                }
              },
              messages: {
                xiangid: {
                  required: "请选择乡镇"
                },
                cunid: {
                  required: "请选择村名称"
                },
                xingming:{
                  required:"请填写第一书记名称",
                },
                dianhua:{
                  required:"请填写电话",
                  isMobile:"请填写正确的手机号"
                }
              },
              submitHandler: function(form){
                  var data = $(form).serialize();
                  var xiangmingcheng = $("#xiangid").find("option:selected").text();
                  var cunmingcheng = $("#cunid").find("option:selected").text();
                  data += "&xiangmingcheng="+xiangmingcheng+"&cunmingcheng="+cunmingcheng;
                  $.ajax({
                      url:_url,
                      type:'post',
                      data:data,
                      dataType:'json',
                      success:function(data){
                        if(data.code == 0){
                          alert(data.info);
                          location.href = "{:U('manager/index/firstSecretaryList')}";
                        }else{
                          alert(data.info);
                        }
                      },
                  });     
              }  
          });


        });
        function select_xiang(){
            var xiangid = $("#xiangid").find("option:selected").val();
            if(xiangid == 0 || xiangid == null){
              var default_cun_html = '<option value="0">请选择村名称</option>'
              $("#cunid").html(default_cun_html);
              return;
            }
            $.ajax({
              'url':_xiang_url,
              'type':'get',
              'dataType':'json',
              'data':{
                'id':xiangid
              },
              success:function(data){
                if(data.code == 0){
                  var cun_html = '';
                  $.each(data.data,function(index,val){
                    cun_html = '<option value="'+val.pid+'">'+val.mingcheng+'</option>';
                  });
                  $("#cunid").html(cun_html);
                }else{
                  alert(data.info);
                }
              }
            });
        }
      </script>
  </body>
</html>