<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>河曲县精准脱贫挂图作战信息平台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qh/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qh/css/style.css">
<script src="__PUBLIC__/qh/jquery/jquery-1.8.3.min.js"></script><script src="__PUBLIC__/qh/js/hq.js"></script>
    <!--[if lt IE 9]>
      <script src="./js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <include file="Common:left_nav" />
      <div id="mainContent" class="content">
        <!-- title list and search-->
          <include file='index_nav' />
          <div class="form-box">
            <form action="{:U('manager/index/firstSecretaryList')}" class="clearfix">
              <label><img src="__PUBLIC__/qh/images/pls.png" /><a href="{:U('manager/index/addFirstSecretary')}">新增第一书记</a></label><input id="nasecretary_nameme" name='secretary_name' type="text"><button onclick="$('form').submit()">查询</button>
            </form>
          </div>
          <section>
            <table border="0" class="hq-table">
              <tr class="first">
                <th>编号</th>
                <th>乡镇/村</th>
                <th>书记名</th>
                <th>电话</th>
                <th>操作</th>
              </tr>
              <foreach name='list.list' item='v'>
                <tr>
                  <td>{$v.pid}</td>
                  <td>{$v.xiangmingcheng}/{$v.cunmingcheng}</td>
                  <td>{$v.xingming}</td>
                  <td>{$v.dianhua}</td>
                  <td><a href="{:U('manager/index/addFirstSecretary',['id'=>$v['pid']])}" class="hq-btn bc1 mr15">修改</a><a class="hq-btn bc2" data-id='{$v.pid}'>删除</a></td>
                </tr>
              </foreach>
            </table>
          </section>
            <div class="panelBar">
            <div class="panalBox">
                {$list.page}
            </div>
          </div>
      </div>
      </div>
      <script type="text/javascript">
      var _url="{:U('manager/index/deleteSecretary')}";
      $(function(){
        $(".bc2").click(function(){
          var pid = $(this).data('id');
          $.ajax({
            url:_url,
            type:'post',
            dataType:'json',
            data:{
              'shuji_id':pid,
            },
            success:function(data){
                
                if(data.code == 0){
                  alert(data.info);
                  location.href = location.href;
                }else{
                  alert(data.info);
                }
            }
          });
        });
      });
    </script>
  </body>
</html>