<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>河曲县精准脱贫挂图作战信息平台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qh/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/qh/css/style.css">
<script src="__PUBLIC__/qh/jquery/jquery-1.8.3.min.js"></script><script src="__PUBLIC__/qh/js/hq.js"></script>
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/qh/js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <include file="Common:left_nav" />
      <div id="mainContent" class="content">
        <!-- title list and search-->
          <include file="index_nav" />
          <div class="form-box">
            <form action="" method="get" class="clearfix">
              <label><img src="__PUBLIC__/qh/images/pls.png" /><a href="{:U('zerenrenadd')}">新增帮扶责任</a></label><input name="wd" type="text"><button onclick="$('form').submit();">查询</button>
            </form>
          </div>
          <section>
            <table border="0" class="hq-table">
              <tr class="first">
                <th>编号</th>
                <th>单位名称</th>
                <th>姓名</th>
                <th>联系电话</th>
                <th>职务</th>
                <th>性别</th>
                <th>操作</th>
              </tr>
              <volist name="list" id="vo">
              <tr>
                <td>{$vo.pid}</td>
                <td>{$vo.mingcheng}</td>
                <td>{$vo.xingming}</td>
                <td>{$vo.tel}</td>
                <td>{$vo.zhiwu}</td>
                <td>
                <?php if($vo['xingbie']==1):?>
                    男
                <?php elseif($vo['xingbie']==2): ?>
                    女
                <?php else: ?>
                    无
                <?php endif ?>
                    
                </td>
                <td><a href="{:U('zerenrenedit',array('pid'=>$vo['pid']))}" class="hq-btn bc1 mr15">修改</a><a href="javascript:;"  onclick ="if(confirm('确定删除吗？')) location.href='{:U('zerenrendel', array('pid' => $vo['pid']))}'" class="hq-btn bc2">删除</a></td>
              </tr>
              
              </volist>
            </table>
          </section>
            <div class="panelBar">
            <if condition="$page" >
            <div class="panalBox">
              {$page}
            </div>
            </if>
          </div>
      </div>
      </div>

  </body>
</html>